<div class="md-padding" layout-align="center">
<md-toolbar color="primary">
        <button class="app-icon-button">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>
        <span class="app-toolbar-filler"></span>
        <button md-button (click)="isDarkTheme = !isDarkTheme">CRYPTON - MANAGES YOUR TIME</button>
    </md-toolbar>
    <div class="parent-container" layout="row" layout-align="center">
        <form [formGroup]="lForm" (ngSubmit)="addPost(lForm.value)" *ngIf="!showLogin">
            <md-toolbar color="primary">
                <span>Login</span>
            </md-toolbar>
            <md-card>
                <md-grid-list cols="1" rowHeight="10:1">
                    <!--<form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">-->
                    <md-grid-tile>
                        <md-input-container  [dividerColor]="usernameError ? 'warn' : 'primary'">
                            <input mdInput placeholder="Email" dividerColor="accent" formControlName="username" required>
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile>
                        <md-input-container  [dividerColor]="loginPasswordError ? 'warn' : 'primary'">
                            <input mdInput placeholder="Password" dividerColor="accent" formControlName="loginPassword" required>
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile>
                        <button md-raised-button color="primary" type="submit" value="Submit Form" [disabled]="!lForm.valid">Login</button>
                        <button md-raised-button color="primary" (click)="showLogin = !showLogin" class="left-2" type="" value="Submit Form">Register</button>
                    </md-grid-tile>

                </md-grid-list>
            </md-card>
        </form>

        <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)" *ngIf="showLogin">
            <md-toolbar color="primary">
                <span>Register yourself</span>
            </md-toolbar>
        <md-card>
            <md-grid-list cols="1" rowHeight="10:1">
                <!--<form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">-->
                <md-grid-tile>
                    <md-input-container  [dividerColor]="fnameError ? 'warn' : 'primary'">
                        <input mdInput placeholder="First name" dividerColor="accent" formControlName="fname" required>
                    </md-input-container>
                    <md-input-container  [dividerColor]="lnameError ? 'warn' : 'primary'">
                        <input mdInput placeholder="Last name" dividerColor="accent" formControlName="lname" required>
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile>
                    <md-input-container  [dividerColor]="ntIdError ? 'warn' : 'primary'">
                        <input mdInput placeholder="NT ID" dividerColor="accent" formControlName="ntId" required>
                    </md-input-container>
                    <md-input-container  [dividerColor]="emailError ? 'warn' : 'primary'">
                        <input mdInput placeholder="Email" type="email" dividerColor="accent" formControlName="email" required>
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile>
                    <md-input-container  [dividerColor]="passwordError ? 'warn' : 'primary'">
                        <input mdInput formControlName="password" placeholder="Password" type="password" dividerColor="accent" required>
                    </md-input-container>
                    <md-input-container  [dividerColor]="rePasswordError ? 'warn' : 'primary'">
                        <input mdInput placeholder="Repeat Password" type="password" dividerColor="accent" formControlName="rePassword" required>
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile>
                    <button md-raised-button color="primary" (click)="showLogin = !showLogin" class="left-2" type="" value="Submit Form">Back</button>
                    <button md-raised-button color="primary"  class="left-2" type="submit" value="Submit Form" [disabled]="!rForm.valid">Submit</button>
                </md-grid-tile>

            </md-grid-list>
        </md-card>
        </form>
    </div>
    <footer class="footer">
        <md-toolbar color="primary">
            <p class="footer-text" >
                Version 1.0.0-alpha.
            </p>
        </md-toolbar>
    </footer>
</div>
